[Unit]
Description=Run the Piano Simulator web app
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/home/piano/git/sk-piano/scripts/startup/run_simulator.sh

[Install]
WantedBy=multi-user.target

