[Unit]
Description=Run the Piano Simulator web app
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/piano/git/piano/scripts/startup/run_simulator.sh

[Install]
WantedBy=multi-user.target

