body {
    font-family: helvetica;
    text-align: center;
    background-color: #080f08;
    background-image: linear-gradient(
        -45deg,
        #080808 20%, #081f08 30%,
        #081f08 45%, #080808 55%,
        #080808 70%, #081f08 80%,
        #081f08);
    background-size: 6px 6px;
    margin: 0px;
    color: white;
    overflow: hidden;
}

div, textarea {
    box-sizing: border-box;
}

.viewport {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .2);
}

.piano.viewport {
    top: 10px;
    left: 10px;
    height: calc((100% - 30px) * 0.9);
    width: calc((100% - 30px) * 0.55);
}

.piano.viewport canvas {
    border: none;
    background-color: black;
    width: 100%;
    height: 100%;
}

.piano-keys.viewport {
    bottom: 10px;
    left: 10px;
    height: calc((100% - 30px) * 0.1);
    width: calc((100% - 30px) * 0.55);
    background-color: black;
}

.piano-key {
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.piano-key.white {
    bottom: 0px;
    background-color: #bbbbaa;
    border-right: 1px solid #777766;
}

.piano-key.white:hover {
    background-color: #aaaa99;
}

.piano-key.black {
    height: 60%;
    background-color: #222222;
}

.piano-key.black:hover {
    background-color: #333333;
}

.piano-key.down, .piano-key.down:hover {
    background-color: red;
}

.code.viewport {
    background-color: #ccddcc;
    color: black;
    text-align: left;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: calc((100% - 30px) * 0.45);
}

.CodeMirror {
    font-family: "Bitstream Vera Sans Mono" Courier;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border: none;
    white-space: pre;
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    outline: none;
    -webkit-overflow-scrolling: touch;
}

.cm-matchhighlight {
    background-color: rgba(0, 0, 0, 0.1);
}
