body {
    font-family: helvetica;
    background-color: #080f08;
    background-image: linear-gradient(
        -45deg,
        #080808 20%, #081f08 30%,
        #081f08 45%, #080808 55%,
        #080808 70%, #081f08 80%,
        #081f08);
    background-size: 6px 6px;
    margin: 0px;
    color: white;
    overflow: hidden;
}

div, textarea, span, a {
    box-sizing: border-box;
}

.viewport {
    position: absolute;
    border: 1px solid #384038;
}

.piano.viewport {
    top: 10px;
    left: 10px;
    height: calc((100% - 30px) * 0.9);
    width: calc((100% - 30px) * 0.55);
}

.piano.viewport canvas {
    border: none;
    background-color: black;
    width: 100%;
    height: 100%;
}

.piano-keys.viewport {
    bottom: 10px;
    left: 10px;
    height: calc((100% - 30px) * 0.1);
    width: calc((100% - 30px) * 0.55);
    background-color: black;
}

.piano-key {
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.piano-key.white {
    bottom: 0px;
    background-color: #bbbbaa;
    border-right: 1px solid #777766;
}

.piano-key.white:hover {
    background-color: #aaaa99;
}

.piano-key.black {
    height: 60%;
    background-color: #222222;
}

.piano-key.black:hover {
    background-color: #333333;
}

.piano-key.down, .piano-key.down:hover {
    background-color: red;
}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.actions.viewport {
    top: 10px;
    right: 10px;
    width: calc((100% - 30px) * 0.45);
    height: 40px;
    line-height: 38px;
    background-color: #556655;
    vertical-align: middle;
}

.actions.viewport .section {
    position: absolute;
    display: inline-block;
    border-left: 1px solid #384038;
    border-right: 1px solid #384038;
    top: 0px;
    bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #eeffee;
    cursor: pointer;
}

.actions.viewport .title.section {
    left: -1px;
    right: 70px;
}

.actions.viewport .button {
    text-align: center;
    background-color: #778877;
    color: #556655;
    font-weight: bold;
}

.actions.viewport .button.enabled {
    color: #111811;
}

.actions.viewport .button.enabled:hover {
    background-color: #99aa99;
}

.actions.viewport .button.enabled:active {
    background-color: #aabbaa;
}

.actions.viewport #run_button {
    right: 150px;
    width: 72px;
}

.actions.viewport #upload_button {
    right: -1px;
    width: 152px;
}

.code.viewport {
    top: 60px;
    right: 10px;
    bottom: 10px;
    width: calc((100% - 30px) * 0.45);
}

.editor {
    background-color: #ccddcc;
    color: black;
    text-align: left;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.CodeMirror {
    font-family: "Bitstream Vera Sans Mono" Courier;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 6px;
    resize: none;
    background-color: transparent;
    border: none;
    white-space: pre;
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    outline: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

.cm-matchhighlight {
    background-color: rgba(0, 0, 0, 0.1);
}
